html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
}

body{
    width: 100%;
    border: 0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    background: #fff;
    background: -webkit-radial-gradient(center, circle cover,  #fff  0%, #EFF2FB 100%);
    color: #3c4a59 !important;
}
