  <section id="sectionInfo">
      <div id="divHeader" class="text-center">
        <h3><strong>{{$ctrl.info.contact.firstname | uppercase}} {{$ctrl.info.contact.lastname | uppercase}}</strong></h3>
        <h4>{{$ctrl.info.contact.job}}</h4>
        <h3>{{$ctrl.info.contact.jobSearched}}</h3>
        <h4>{{$ctrl.info.contact.date}}</h4>
      </div>

      <div id="divImg">
          <div class="text-center">
              <img ng-src="{{$ctrl.info.contact.photo}}"/>
          </div>
      </div>

      <div id="divInfo">
        <div id="divContact">
          <h4><span class="fa fa-address-book-o"></span> CONTACT</h4>
          <div><span><span class="fa fa-map-marker"></span></span>{{$ctrl.info.contact.address.num}} {{$ctrl.info.contact.address.street}}</div>
          <div><span><span class="fa"> </span></span>{{$ctrl.info.contact.address.cityNum}} {{$ctrl.info.contact.address.city | uppercase}}</div>
          <div><span><span class="fa fa-envelope"></span></span>{{$ctrl.info.contact.mail}}</div>
          <div><span><span class="fa fa-mobile"></span></span>{{$ctrl.info.contact.number}}</div>
        </div>
        <div id="divSkills">
          <h4><span class="fa fa-university"></span> MES COMP&Eacute;TENCES</h4>
          <div ng-repeat="skill in $ctrl.info.skills">
            {{skill.name}}
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.value}}%">
              </div>
            </div>
          </div>
        </div>
        <div id="divFacts">
          <h4><span class="fa fa-trophy"></span> FAITS PERSONNELS</h4>
          <div ng-repeat="fact in $ctrl.info.persFact" class="text-justify">
            {{fact}}
          </div>
        </div>
        <figure ng-if="$ctrl.sectionDisplayed == 'print'">
          <img src="img/versLinkedin.jpg">
          <figcaption class="text-center">mon Linkedin</figcaption>
        </figure>
      </div>
  </section>

  <section id="sectionContent">
    <div id="divSelectionPersExp" ng-if="$ctrl.sectionDisplayed != 'print'">
      <span class="fa fa-suitcase" ng-click="$ctrl.sectionDisplay('proExp')"></span>
    </div>
    <div id="divSelectionFormation" ng-if="$ctrl.sectionDisplayed != 'print'">
      <span class="fa fa-graduation-cap" ng-click="$ctrl.sectionDisplay('formation')"></span>
    </div>
    <div id="divSelectionHobbies" ng-if="$ctrl.sectionDisplayed != 'print'">
      <span class="fa fa-coffee" ng-click="$ctrl.sectionDisplay('hobbies')"></span>
    </div>

    <div class="text-justify" id="divContent">
      <div id="divIcons" ng-if="$ctrl.sectionDisplayed != 'print'">
          <a href="https://github.com/maximeSurmontGH" target="_blank"><span class="fa fa-github-square"></span></a>
          <a href="https://twitter.com/maximeSurmontTw" target="_blank"><span class="fa fa-twitter-square"></span></a>
          <a href="https://www.linkedin.com/in/maxime-surmont-1905b6137/?ppe=1" target="_blank"><span class="fa fa fa-linkedin-square"></span></a>
          <a href="" ng-click="$ctrl.print()"><span class="fa fa-print"></span></a>
      </div>

      <!---->
      <div class="divSectionDisplay" ng-if="$ctrl.sectionDisplayed == 'proExp' || $ctrl.sectionDisplayed == 'print'">
        <span class="fa fa-suitcase justForPrintText"></span><h1 class="page-header"><strong class="justForPrintText">EXPERIENCE PROFESSIONNELLE</strong></h1>
        <div ng-repeat="exp in $ctrl.info.content.proExp">
          <div>
            <h3><strong class="justForPrintText">{{exp.title | uppercase}}</strong></h3>
          </div>
          <div class="justForPrintText">
            <span class="fa fa-building justForPrintText"></span>&nbsp; {{exp.location}} &nbsp;&nbsp;&nbsp;<span class="fa fa-calendar justForPrintText"></span>&nbsp;&nbsp;{{exp.dateStart}} - {{exp.dateEnd}}
          </div>
          <div>
            <span class="justForPrintText">{{exp.content}}</span>
          </div>
        </div>
      </div>

      <!---->
      <div class="divSectionDisplay" ng-if="$ctrl.sectionDisplayed == 'formation' || $ctrl.sectionDisplayed == 'print'">
        <span class="fa fa-graduation-cap justForPrintText"></span><h1 class="page-header"><strong class="justForPrintText">FORMATION</strong></h1>
        <div ng-repeat="exp in $ctrl.info.content.training">
          <div>
            <h3><strong class="justForPrintText">{{exp.title | uppercase}}</strong></h3>
          </div>
          <div class="justForPrintText">
            <span class="fa fa-building justForPrintText"></span>&nbsp; {{exp.location}} &nbsp;&nbsp;&nbsp;<span class="fa fa-calendar justForPrintText"></span>&nbsp;&nbsp;{{exp.dateStart}} - {{exp.dateEnd}}
          </div>
          <div>
            <span class="justForPrintText">{{exp.content}}</span>
          </div>
        </div>
      </div>

      <!---->
      <div class="divSectionDisplay" ng-if="$ctrl.sectionDisplayed == 'hobbies' || $ctrl.sectionDisplayed == 'print'">
        <span class="fa fa-coffee justForPrintText"></span><h1 class="page-header"><strong class="justForPrintText">LOISIRS ET PASSIONS</strong></h1>
        <div>
          <div id="toBeFlexed">
            <div ng-repeat="hobbie in $ctrl.info.content.hobbies">
              <figure>
                <img src="{{hobbie.url}}"/>
                <figcaption><strong class="justForPrintText">{{hobbie.name | uppercase}}</strong></figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
